.DS_Store
.obj
bin
*.a
*.exe
*.zip
*.exe
qjsc
qjs-debug
libquickjs.a
libquickjs.bn.a
libquickjs.bn.lto.a
libquickjs.lto.a
qjs
qjsbn
qjsbnc
qjscalc
run-test262-bn
.obj/
test262o/
/microbench-new.txt
tmp_file.txt

# cmake build directory
/b/
